<div>

  <br />
  <div class="roundStartedMessage" *ngIf="newRoundIsStarted==true">
    <h3>
      New Round Is Started
    </h3>
  </div>

  <div *ngIf="gameIsRunning==false" class="gameIsRunning">

    <input id="inputFieldBotCount" [(ngModel)]="botCount" type="number" max="5" min="1" required />
    <button class="setBotCountClassBtn" (click)="setBotCount()"><i class="fas fa-robot"></i>&nbsp; Choose number of players!&nbsp;<i class="fas fa-robot"></i></button>
    <br />

  </div>


  <div *ngIf="gameIsRunning==true">

    <div class="showCardsAndScors">

      <ul>
        <li *ngFor="let result of playersCards">
          {{result.player.name}}
          <span *ngFor="let card of result.cards">{{card.value}},</span>
        </li>
      </ul>

      <br />

      <h2>TOTAL SCORE</h2>

      <ul>
        <li *ngFor="let result of playersCards">
          {{result.player.name}}
          <span>{{result.player.score}}</span>
        </li>
      </ul>


      <div id="winner" class="winner">
        <ul>
          <li *ngFor="let result of winner">
            {{result.name}} win the game!
          </li>
        </ul>
      </div>

      <button class="moreBtn" [disabled]="moreButtonDisabled" (click)="playAgain()">MORE</button>
      <button class="stayBtn" [disabled]="stayButtonDisabled" (click)="playStay()">STAY</button>

    </div>
    <br />

    <button class="newRound" (click)="startNewRound()"><i class="fas fa-redo-alt"></i>&nbsp;NEW Round</button>
    <button class="newGame" (click)="startNewGame()"><i class="fas fa-arrow-circle-right"></i>&nbsp;NEW Game</button>

  </div>

</div>

