@model List<BlackJack.ViewModels.DeckViewItem>
@{
    ViewBag.Title = "GetDeck";
}

<h2>GetDeck</h2>

<table class="table">

    @foreach (var card in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => card.Id): @Html.DisplayFor(modelItem => card.Value)
            </td>
        </tr>
    }

</table>