@model IEnumerable<BlackJack.ViewModels.PlayerCardsViewModel>
@{
    ViewBag.Title = "HandOverCards";
}

<h2>HandOverCards</h2>

<table class="table" id="result">
    <h1>Cards:</h1>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Player.Name
                <td>
                   @foreach(var t in item.Cards)
                   {
                       @t.Value
                       <span>, </span>
                   }
                </td>
                </td>
            </tr>
        }
</table>
@using (Ajax.BeginForm("PlayAgain", new AjaxOptions { UpdateTargetId = "result" }))
{
    <input type="text" name="takeCard" />
    <input type="submit" value="Поиск" />
}


<table class="table">
    <h1>Total scors:</h1>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.Player.Name:
        <td>
            @foreach (var t in item.Cards)
            {
                @t.Value
            <span>, </span>
            }
        </td>
        </td>
    </tr>
    }
</table>