<h1>My text</h1>
<!--<ul>
  <li *ngFor="let result of cards">{{result.id}}</li>
</ul>-->
<app-test [players]="players"></app-test>

<button (click)="handOverCards()">HAND OVER CARDS</button>

<input [(ngModel)]="botCount">
<button (click)="getPlayers()">Start new game (CREATE NEW PLAYERS)</button>


<ul>
  <li *ngFor="let result of playersCards">
    {{result.player.name}}
    <span *ngFor="let card of result.cards">{{card.value}},</span>
  </li>
</ul>
<button (click)="playAgain()">MORE</button>
<button (click)="playStay()">STAY</button>
<!--<button (click)="getPlayers()">Start new game (CREATE NEW PLAYERS)</button>-->
